@tailwind base;
@tailwind components;
@tailwind utilities;

.hero::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
    background-color: #8dace9;
    background-image: linear-gradient(135deg, #8dace9 0%, #e79bd4 50%, #f5e4e4 100%);
}

/*the typewriting text block*/
.word {
    display: block;
}

.word span {
    position: relative;
}

.word span::after {
    content: '';
    width: 6px;
    height: 90%;
    background: white;
    display: block;
    position: absolute;
    right: -12px;
    top: 0;
    animation: blink 0.5s linear infinite alternate-reverse;
}

@keyframes blink {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.word.empty {
    visibility: hidden;
}

.word.empty span::after {
    visibility: visible;
    right: 0;
}
